torch==2.0.1+cu117      # The PyTorch library, specify the version according to your system's CUDA compatibility
transformers==4.32.1   # The Hugging Face Transformers library for model and tokenizer
sentencepiece==0.1.99  # Required for tokenization with some models in the Hugging Face library
numpy==1.25.2          # For numerical operations
pandas==1.5.3          # For data manipulation and analysis
scikit-learn==1.3.1    # For evaluation metrics like BLEU score 
